<div class="row">
    <div class="col-md-3">
        <span class="hipster img-fluid rounded"></span>
    </div>
    <div class="col-md-9" [ngSwitch]="isAuthenticated()">
        <h1 class="display-4" *ngSwitchCase="false">Hey, There!</h1>
        <h1 class="display-4" *ngSwitchCase="true">Hey, {{account.firstName}} {{account.lastName}}!</h1>
        <p class="lead">Welcome to your Mo-Cards</p>

        <div [ngSwitch]="isAuthenticated()">
            <div class="alert alert-success" *ngSwitchCase="true">
                <span *ngIf="account" > You are logged in as user "{{account.login}}". </span>
            </div>


        </div>

        <p >
            If you have any question/query regarding Mo-Card, feel free to contact us:
        </p>

        <ul>
            <li><a href="#" rel="noopener">9041889636</a></li>
            <li><a href="#" rel="noopener">jony.hartron@gmail.com</a></li>
            <li><a href="#" rel="noopener">Mo-Cards, sector 47, Chandigarh</a></li>
        </ul>

        <p>
            <span>If you like our work, don't forget to give us a star !</span>
        </p>
    </div>
</div>
